.category-tabs {


  display:flex;


  gap:2rem;


  justify-content:center;


  overflow-x:auto;


  padding:1rem 0;


  scrollbar-width:none;


  scroll-behavior:smooth;


  border-bottom:

  1px solid rgba(255,255,255,.08);


}



.category-tabs::-webkit-scrollbar {

  display:none;

}





.category-tabs button {


  position:relative;


  border:none;


  background:none;


  color:#8f8a82;


  font-size:.85rem;


  letter-spacing:.08em;


  text-transform:uppercase;


  padding:.7rem 0;


  cursor:pointer;


  white-space:nowrap;


  transition:

  color .3s ease,

  transform .3s ease;


}





.category-tabs button:hover {


  color:#d4af37;


  transform:translateY(-2px);


}





.category-tabs button.active {


  color:#f5f1e8;


}





.category-tabs button.active::after {


  content:"";


  position:absolute;


  left:0;


  bottom:-1px;


  width:100%;


  height:2px;


  background:#d4af37;


}





.category-tabs button:active {


  transform:scale(.96);


}





.category-wrapper {


  position:relative;


}





@media(max-width:600px){



.category-tabs {


  justify-content:flex-start;


  padding-right:3rem;


  position:relative;


}





.category-wrapper::before,

.category-wrapper::after {


  content:"";


  position:absolute;


  top:0;


  width:75px;


  height:100%;


  pointer-events:none;


  z-index:5;


  opacity:0;


  transition:opacity .25s ease;


}





/* degradado izquierda */


.category-wrapper::before {


  left:0;


  background:


  linear-gradient(

    270deg,

    rgba(13,11,9,0),

    rgba(13,11,9,.95)

  );


}





/* degradado derecha */


.category-wrapper::after {


  right:0;


  background:


  linear-gradient(

    90deg,

    rgba(13,11,9,0),

    rgba(13,11,9,.95)

  );


}





.category-tabs.show-left

~ .category-wrapper::before {


  opacity:1;


}




.category-tabs.show-right

~ .category-wrapper::after {


  opacity:1;


}



}